*{
    pad: 0px;
    margin: 0px;
}
nav{
    display: flex;
    background-color: lightgrey;
    

}
.logo{
    display: flex;
    text-align: center;
}
.logo img{
    height: 60px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none; 
    padding: 0 23px;
}

nav ul li a{
    color: black;
    text-decoration: none;
}
nav ul li a:hover{ 
    font-weight: bolder;
}
.pic3{
    width: 480px;
}
.main1{
    text-align: center;
    margin-top: 20px;
}
.main2{
    margin-left: 10px;
}
.main3{
    margin-left: 10px;
}
.flex-all-center{
    background-color: darkcyan;
    color: aliceblue;
    margin-top: 40px;
}
body{
    background-color: lightblue;
}